.favContainer {
  margin: 0 auto;
  position: relative;
  top: 150px;
  width: 300px;
}

.loading {
  left: 50%;
  position: absolute;
  top: 270px;
  transform: translate(-50%, -50%);
}

.favP {
  border-bottom: 2px solid gray;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 40px;
  padding-bottom: 30px;
}
