.profileContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  top: 150px;
  width: 300px;
}

.user {
  align-items: center;
  border-bottom: 1px solid gray;
  display: flex;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
  top: 150px;
  width: 300px;
}

.image {
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.name {
  font-size: 22px;
  font-weight: 700;
  margin-left: 30px;
}

.email, .desc {
  font-size: 18px;
  font-weight: 700;
}

.emailContainer, .descContainer {
  border-bottom: 1px solid gray;
  font-size: 16px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.loading {
  left: 50%;
  position: absolute;
  top: 170px;
  transform: translate(-50%, -50%);
}

.link {
  align-self: center;
  background-color: #003be5;
  border-radius: 100px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  width: 150px;
}

.link:hover {
  filter: grayscale(25%);
}

@media screen and ( min-width : 1024px ) {

  .wrapper {
    background-color: #eff3f9;
    height: 100vh;
  }

  .bgTop {
    background-image: linear-gradient(-45deg, #00d5e2, #003be5);
    height: 200px;
  }

  .freeSpace {
    height: 100vh;
    min-width: 72%;
    position: absolute;
    right: 0;
    width: calc(100% - 350px);
  }

  .user {
    border: none;
    left: 37.5%;
    position: fixed;
    top: 100px;
  }

  .name {
    color: white;
    font-size: 30px;
    padding-bottom: 45px;
  }

  .image {
    background-color: #eff3f9;
    border-radius: 100%;
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.7);
    height: 200px;
    width: 200px;
  }

  .profileContainer {
    left: calc(37.5% + 230px);
    min-width: 300px;
    position: fixed;
    top: 250px;
    width: 30vw;
  }
}
